/basicMade/target/
/framework/madeGui/nbproject/private/
/framework/madeGui/target/
/framework/gui/madegui/target/
/framework/core/madecore/target/
/madetools/madetools/target/
/madetools/target/
/madetools/core/target/