.button {
    -fx-font-weight: bold;
}

.back{
    -fx-background-image:url('../img/background.jpg');
    /*-fx-background-color: #666666;*/
    -fx-background-size: cover;
}

.info_panel{
    -fx-background-color: transparent;
}

.info_label{
    -fx-color: white;
    -fx-padding: 5px;
    -fx-width:100%;
}

.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}

.console{
    -fx-background-color: black;
    -fx-text-fill: white;
}

.sheet_section{
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
}
.sheet{
    /*-fx-background-image:url('../img/Grungy-Paper-Texture-3.jpg');*/
/*    -fx-background-color: #6666FF;
    -fx-background-size: cover;*/
}

.sheet *.scroll-pane {
    -fx-background-color: transparent;
}

#splitPane{
    -fx-border-width: 0 0 0 0;
}

#sheetImageView{
    background-color: transparent;
}

#sheetImageView{
    background-color: transparent;
}
